#message-div{
    display: none;
    min-height: 120px;
    padding: 8px;
    text-align: center;
    margin-top: auto;
    background-color: #aa0000;
    color: #ffffff;
    font-size: 24px;
}

#message-div a{
   color: #ffffff;
}

#total{
    width: 50%;
    padding: 8px;
    background-color: #8b8b8b;
    color: #ffffff;
    border-radius: 8px;
}

#checkout-form{
    width: 75%;
}

#success{
    display: none;
    padding: 16px;
    min-height: 120px;
    text-align: center;
    color: #ffffff;
    background-color: #2ab02a;
    font-size: 20px;
    border-radius: 16px;
}

#error{
    display: none;
    padding: 8px;
    margin-bottom: 16px;
    text-align: center;
    color: #ffffff;
    background-color: #cd352e;
    border-radius: 16px;
    font-size: 20px;
}

.price{
    color: #ffffff;
    background-color: #a869fb;
    padding: 4px;
    border-radius: 8px;
}

.quantity-input{
    outline: none;
    border: 1px solid #a869fb;
    border-radius: 8px;
    width: 100px;
}

.product-name{
    padding-top: 24px;
}

.logo{
    color: #a869fb;
}

.logo span{
    padding: 0 4px;
    font-size: 16px;
}

.nav-item-fix{
    font-size: 16px;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .social-icons .social-icon:last-child {
    margin-right: 0;
  }

  .social-icons .social-icon:hover {
    background-color: #6610f2;
  }

  .copy-right span{
    padding: 0 12px;
  }